Data/Dashboard.txt
[{"id":"56090b08.2f47d4","type":"ui_gauge","z":"78b90f57.34af7","name":"Heart-Rate Monitoring ","group":"697d5258.81db6c","order":1,"width":0,"height":0,"gtype":"donut","title":"Heart-Rate Monitoring ","label":"BPM","format":"{{value}}","min":"40","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":626.875,"y":236.125,"wires":[]},{"id":"dbfc3de2.1273d","type":"file in","z":"78b90f57.34af7","name":"file","filename":"t.txt","format":"","chunk":false,"sendError":false,"x":439,"y":231,"wires":[["56090b08.2f47d4","396ee691.6b8d5a"]]},{"id":"971acae1.020bb8","type":"trigger","z":"78b90f57.34af7","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"trig","x":316,"y":231.70001220703125,"wires":[["dbfc3de2.1273d"]]},{"id":"8b47bc17.c6305","type":"inject","z":"78b90f57.34af7","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":197,"y":230.4000244140625,"wires":[["971acae1.020bb8"]]},{"id":"982b3901.36df48","type":"serial in","z":"78b90f57.34af7","name":"StepsIn","serial":"177fe939.68f9f7","x":156.5,"y":383.1499938964844,"wires":[["77717644.ecb4f8","f11f5bfb.572c28","235999a8.3c1eb6"]]},{"id":"77717644.ecb4f8","type":"ui_gauge","z":"78b90f57.34af7","name":"Footsteps","group":"697d5258.81db6c","order":0,"width":0,"height":0,"gtype":"gage","title":"Footsteps","label":"Steps","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":428.5,"y":446.5,"wires":[]},{"id":"312cf51f.fa54fa","type":"random","z":"78b90f57.34af7","name":"SPO2","low":"94","high":"99","inte":"true","property":"payload","x":519.5,"y":514.4500122070312,"wires":[["297fd555.9e5ada"]]},{"id":"f61ccd95.7497d","type":"file in","z":"78b90f57.34af7","name":"file","filename":"t.txt","format":"","chunk":false,"sendError":false,"x":360,"y":513.875,"wires":[["312cf51f.fa54fa"]]},{"id":"a5bd1fda.e387","type":"trigger","z":"78b90f57.34af7","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":true,"units":"hr","reset":"","bytopic":"all","name":"trig","x":237,"y":514.5750122070312,"wires":[["f61ccd95.7497d"]]},{"id":"edf65752.3b3598","type":"inject","z":"78b90f57.34af7","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":118,"y":513.2750244140625,"wires":[["a5bd1fda.e387"]]},{"id":"297fd555.9e5ada","type":"ui_text","z":"78b90f57.34af7","group":"697d5258.81db6c","order":0,"width":0,"height":0,"name":"Avg SpO2","label":"Avg SpO2","format":"{{msg.payload}}%","layout":"row-spread","x":687.5,"y":518.5,"wires":[]},{"id":"396ee691.6b8d5a","type":"ui_toast","z":"78b90f57.34af7","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Hi yash","name":"Notify","x":608.5,"y":295,"wires":[[]]},{"id":"f11f5bfb.572c28","type":"ui_text","z":"78b90f57.34af7","group":"697d5258.81db6c","order":0,"width":0,"height":0,"name":"Walking Distance","label":"Distance","format":"{{1000/2500}} Mile","layout":"row-spread","x":717,"y":439,"wires":[]},{"id":"235999a8.3c1eb6","type":"ui_text","z":"78b90f57.34af7","group":"697d5258.81db6c","order":0,"width":0,"height":0,"name":"Calorie","label":"Calorie","format":"{{1050*0.045}} Kcal","layout":"row-spread","x":607,"y":397,"wires":[]},{"id":"697d5258.81db6c","type":"ui_group","z":"","name":"Healthcare Monitoring Assistance","tab":"2384cb47.0add14","order":1,"disp":true,"width":"6","collapse":false},{"id":"177fe939.68f9f7","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"3","bin":"false","out":"count","addchar":false},{"id":"2384cb47.0add14","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]