Data/Data.txt
[{"id":"9465261d.193c58","type":"file in","z":"7248625c.a4e61c","name":"file","filename":"t.txt","format":"","chunk":false,"sendError":false,"x":479,"y":192.875,"wires":[["6312b716.2074b8"]]},{"id":"1bc2d3d7.d9ee6c","type":"trigger","z":"7248625c.a4e61c","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"trig","x":356,"y":193.57501220703125,"wires":[["9465261d.193c58"]]},{"id":"80d64759.c90f58","type":"inject","z":"7248625c.a4e61c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":237,"y":192.2750244140625,"wires":[["1bc2d3d7.d9ee6c"]]},{"id":"6312b716.2074b8","type":"ui_chart","z":"7248625c.a4e61c","name":"Heart Rate : BPM","group":"bfdd923c.566f3","order":0,"width":0,"height":0,"label":"BPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":702.5,"y":195.5,"wires":[[],[]]},{"id":"6d3b3b30.096fe4","type":"file in","z":"7248625c.a4e61c","name":"file","filename":"t.txt","format":"","chunk":false,"sendError":false,"x":490,"y":388,"wires":[["2a14c3ac.90332c"]]},{"id":"438cdcfb.f59324","type":"trigger","z":"7248625c.a4e61c","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"trig","x":367,"y":388.70001220703125,"wires":[["6d3b3b30.096fe4"]]},{"id":"c0acf4d6.2a29e8","type":"inject","z":"7248625c.a4e61c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":248,"y":387.4000244140625,"wires":[["438cdcfb.f59324"]]},{"id":"2a14c3ac.90332c","type":"ui_chart","z":"7248625c.a4e61c","name":"Footsteps","group":"bfdd923c.566f3","order":0,"width":0,"height":0,"label":"Footsteps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":683.5,"y":390.625,"wires":[[],[]]},{"id":"bfdd923c.566f3","type":"ui_group","z":"","name":"Data","tab":"14c0a12.f5cb95f","order":2,"disp":true,"width":"6","collapse":false},{"id":"14c0a12.f5cb95f","type":"ui_tab","z":"","name":"Data","icon":"dashboard","order":3}]